<footer class="ui center aligned segment">
  <p class="footer-social-links">
    <a href="http://www.facebook.com/witcomp"> <i class="large facebook icon"></i></a>
    <a href="http://twitter.com/ComputingAtWIT"> <i class="large twitter icon"></i> </a>
    <a href="https://ie.linkedin.com/pub/computing-at-wit/a9/221/1b6"> <i class="large linkedin icon"></i> </a>
  </p>
</footer>